.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.lbl {
  color: #0d6efd;
  display: block;
  margin-top: 20px;
}

input {
  width: 30%;
  padding: 10px;
}

.btnAddUser {

  margin: auto;
  font-size: 20px;
  height: max-content;
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;

}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  background-color: #6c757d;
  margin: auto;
  font-size: 20px;
  height: max-content;
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}